<div class="background" (click)="closeMenu()">
</div>
    <mat-card class="cart-container">
        <div class="products-container">
            <ul class="cart-products-container">
                <li  *ngFor="let product of products" class="cart-product">
                    <mat-card>
                        <div class="product-details">
                            <h4 class="product-title">{{product.name}}</h4>
                            <div class="prices-container">
                                <p class="product-price">{{product.price | currency}}</p>
                                <p *ngIf="product.quantity > 1" class="product-price quantity-price">x{{product.quantity}} {{product.price * product.quantity | currency}}</p>
                            </div>
                        </div>
                        <div class="product-buttons">
                            <button (click)="addOne(product.productId)" color="primary" class="btn" mat-mini-fab aria-label="btn arrow_back">
                                <mat-icon>add</mat-icon>
                            </button>
                            <p class="product-quantity">{{product.quantity}}</p>
                            <button (click)="removeOne(product.productId)" color="primary" class="btn" mat-mini-fab aria-label="btn arrow_back">
                                <mat-icon>remove</mat-icon>
                            </button>
                            <button (click)="deleteProduct(product.productId)" color="warn" class="btn" mat-mini-fab aria-label="btn arrow_back">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        </div>
                    </mat-card>
                </li>
            </ul>
</div>
        <div class="options-container">
            <p *ngIf="!loading" class="price-total"><span>Total: </span>{{priceTotal | currency}}</p>
            <p *ngIf="loading" class="price-total"><span>Total: </span></p>
            <button *ngIf="!btnOptions" (click)="openUserOptions()" mat-flat-button color="accent">Crear orden</button>
            <div *ngIf="btnOptions" class="confirmed-container">
                <button (click)="createOrder()" mat-flat-button color="accent">Confirmar</button>
                <button (click)="cancelOrder()" mat-flat-button color="warn">Cancelar</button>
            </div>
        </div>
    </mat-card>



