.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.734);
  z-index: 5;
  animation: opacity;
  animation-duration: 1s;
}

.cart-container {
  z-index: 100;
  right: 0;
  top: 70px;
  float: right;
  width: 50%;
  height: 80%;
  background-color: #673ab7;
  animation: rightToLeft;
  animation-duration: 1s;
  position: fixed;
}

.products-container {
  background-color: #442777;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 85%;
  overflow-y: scroll;
}

.cart-products-container {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  list-style: none;
}
.cart-product {
  margin-bottom: 10px;
}
.product-details {
  display: flex;
  justify-content: space-between;
}
.product-buttons {
  display: flex;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.product-title {
  color: #673ab7;
  font-size: 16px;
  max-width: 400px;
}
.product-price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}
.quantity-price {
  margin-top: 0;
  color: #673ab7;
  font-size: 13px;
}
.product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #545454;
  width: 30px;
  height: 30px;

  color: #fff;
  font-weight: bold;
  margin-bottom: 0;
}
.options-container {
  margin: 0 auto;
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-total {
  color: #fff;
  font-weight: 400;
  font-size: 25px;
}
.price-total span {
  font-weight: bold;
}
.confirmed-container button {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .cart-container {
    width: 90vw;
    height: 80%;
  }
  .cart-product {
    width: 100%;
  }
  .price-total {
    font-size: 15px;
  }
  .price-total span {
    display: block;
  }
  .confirmed-container button {
    margin-left: 5px;
  }
  .product-title {
    font-size: 14px;
    max-width: 200px;
  }
  .product-price {
    font-size: 14px;
  }
}

/*Animations*/
@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
