<main>
    <mat-card class="form-container">
        <div class="button-container">
            <button [routerLink]="['/home']"  class="btn-arrow-back" mat-mini-fab>
              <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <h4 class="form-title">Regístrate</h4>
        <p class="form-required">(*) Campo obligatorio</p>
        <p class="error" *ngIf="errorForm">{{formError.error}}</p>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
            <button type="submit" mat-flat-button color="primary">Registrarse</button>
            <div class="have-account">
                <p>Ya tienes cuenta?</p><a [routerLink]="['/login']">Inicia sesión</a>
            </div>
        </form>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </mat-card>
</main>
   

  
