.footer {
  width: 100%;
  background-color: #673ab7;
  margin-bottom: 0;
  height: 40px;
}
p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #a2a2a2;
  font-size: 13px;
}
