<mat-toolbar class="nav-container" color = "primary" > 
    <a class="nav-logo" [routerLink]="['/home']"><img  src="../../../assets/img/logocoa.png" alt="" srcset=""></a>
    <span class="nav-title">
      <div class="button-container">

        <button  *ngIf="!openCart" [routerLink]="['/home']" class="btn" mat-mini-fab color="accent">
          <mat-icon>home</mat-icon>
        </button>

        <button *ngIf="userLogged && !openCart" [routerLink]="['/products']" class="btn" mat-mini-fab color="accent">
          <mat-icon>store_mall_directory</mat-icon>
        </button>

        <button *ngIf="userLogged && !openCart" [routerLink]="['/orders']" class="btn" mat-mini-fab color="accent">
          <mat-icon>assignment</mat-icon>
        </button>

        <button *ngIf="userLogged" (click)="onCart()" class="btn-shopping-cart" mat-mini-fab>
          <mat-icon *ngIf="!openCart" >shopping_cart</mat-icon>
          <mat-icon *ngIf="openCart">close</mat-icon>
        </button>

        <button *ngIf="userLogged && !openCart" (click)="userLogOut()" class="btn logout" mat-mini-fab>
          <mat-icon>logout</mat-icon>
        </button>
        
      </div>
    </span> 
</mat-toolbar>
<app-cart *ngIf="openCart" class="cart-container"></app-cart>

