.nav-container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  position: fixed;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 200;
}
.nav-title {
  position: absolute;
  right: 40px;
  text-transform: uppercase;
}
.nav-logo {
  z-index: 100;
  position: absolute;
  left: 40px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 100px;
  height: auto;
}
.button-container {
  position: relative;
}
.btn-shopping-cart {
  background-color: #ffd740;
  margin-right: 10px;
}
.btn {
  background-color: #e9e9e9;
  margin-right: 10px;
}
.btn .logout {
  background-color: #e9e9e9;
}
.mat-icon {
  color: #333;
}
.active-link {
  width: 500px;
}

.button-container .count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;

  bottom: -10px;
  right: 5px;
  border-radius: 50%;
  font-size: 15px;
}

/*Media Responsive*/
@media (max-width: 768px) {
  .nav-container {
    height: 80px;
  }
  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nav-logo {
    display: none;
    visibility: hidden;
  }
}
