<main>
    <mat-card class="container">
        <h4 class="title">Bienvenid@</h4>
       <h5 *ngIf="userLogged" class="username">{{userLogged.displayName}}</h5>
       <mat-divider></mat-divider>
       <button *ngIf="!isUserLogged" class="btn-submit" [routerLink]="['/login']" mat-flat-button color="primary">Iniciar sesión</button>
       <button *ngIf="!isUserLogged" class="btn-submit" [routerLink]="['/register']" mat-flat-button color="accent">Regístrate</button>
       <button class="btn-submit" [routerLink]="['/products']" mat-flat-button color="primary">Ver productos</button>
   </mat-card>
</main>
   

