.home {
  height: 90vh;
}

.container {
  margin-top: 100px;
  width: 30%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  animation: opacity;
  animation-duration: 1.2s;
  background-color: rgba(255, 255, 255, 0.9);
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #673ab7;
}
.username {
  text-align: center;
  font-size: 20px;
  color: #ffd740;
}
.mat-divider {
  position: relative !important;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  height: 70px;
  color: #fff;
  margin-bottom: 30px;
}

/*Animations*/
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    width: 60%;
  }
}
