.mat-bar {
  margin-top: 70px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  padding: 40px;
}
.product-container {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
  align-items: center;
  height: 320px;
}
.info-container {
  height: 90%;
}
.img-container {
  position: relative;
  width: 100%;
  min-height: 50%;
  max-height: 50%;
}
.img-container img {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}
.product-title {
  margin-top: 10px;
  font-size: 14px;
  color: #673ab7;
  padding: 10px;
  max-height: 40px;
  min-height: 40px;
  text-align: center;
  overflow-y: hidden;
  margin-bottom: 30px;
  font-weight: 600;
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-container button {
  margin-left: 20px;
}
.price {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  color: #fff;
  max-height: 50px;
  min-height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.741);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

/*Item view*/
.background {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.741);
  z-index: 5;
  animation: opacity;
  animation-duration: 0.5s;
}

.viewItem-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.btn-close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-container {
  margin: 0 auto;
  margin-top: 100px;
  width: 70%;
  height: 70%;
  display: flex;
  z-index: 10;
  animation: leftToright;
  animation-duration: 1s;
}

.item-info--container {
  width: 50%;
  margin-left: 25px;
  padding: 30px;
}
.item-title {
  font-size: 25px;
  color: #673ab7;
  margin-bottom: 20px;
}
.item-price {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 25px;
  color: #673ab7;
}
.item-img--container {
  height: 100%;
  width: 50%;
}
.item-img--container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*Media Responsive*/
@media (max-width: 768px) {
  .products-container {
    display: flex;
    flex-wrap: wrap;
  }
  .item-container {
    width: 80%;
    height: 80%;
    flex-direction: column;
  }

  .item-info--container {
    width: 90%;
    margin: 0 auto;
  }
  .item-description {
    height: 30%;
    overflow-y: auto;
  }
  .item-title {
    font-size: 15px;
  }
  .item-price {
    font-size: 15px;
  }
  .item-img--container {
    width: 100%;
    height: 30%;
  }
  .item-img--container img {
  }
}

/*Animations*/
@keyframes leftToright {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
