<!-- Listado de prodcutos -->

<main>
    <mat-progress-bar *ngIf="loading" color="primary" class="mat-bar" mode="indeterminate"></mat-progress-bar>
    <section  class="products-container">
        <mat-card class="product-container" *ngFor="let item of products">
                <div class="img-container">
                    <img src="{{item.img}}" alt="{{item.name}}">
                    <p class="price">{{item.price | currency}}</p>
                </div>
            <div class="info-container">
                <h3 class="product-title">
                    {{item.name}}
                </h3>
                <div class="btn-container">
                    <button *ngIf="userLogged" (click)="addProduct(item)"  class="btn" mat-mini-fab>
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                    <button (click)="openViewItem(item)" color="primary" class="btn" mat-mini-fab>
                        <mat-icon>visibility</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card>
    </section>
</main>

<!-- Item en pantalla -->
<div *ngIf="isOpenViewItem" class="background" (click)="closeViewItem()">
</div>
<div *ngIf="isOpenViewItem" class="viewItem-container">
    <mat-card class="item-container">
        <button (click)="closeViewItem()" class="btn-close" mat-mini-fab color="warn">
            <mat-icon>close</mat-icon>
        </button>
        <div class="item-img--container">
            <img src="{{viewItem.img}}" alt="">
        </div>
        <div class="item-info--container">
            <h3 class="item-title">{{viewItem.name}}</h3> 
            <p class="item-description">{{viewItem.description}}</p>
            <p class="item-price">{{viewItem.price | currency}}</p>
            <div>
                <button *ngIf="userLogged" (click)="addProduct(viewItem)" mat-flat-button color="accent">Añadir al carrito</button>
                <button *ngIf="!userLogged" (click)="goToRegister()" mat-flat-button color="accent">Registrarse para añadir al carrito</button>
            </div>
        </div>
    </mat-card>
</div>


