.form-container {
  margin-top: 100px;
  width: 30%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  animation: opacity;
  animation-duration: 1.2s;
  background-color: rgba(255, 255, 255, 0.85);
}

.error {
  background-color: rgb(255, 52, 52);
  color: #fff;
  width: 100%;
  text-align: center;
}

.btn-arrow-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.form-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #673ab7;
  margin-bottom: 0px;
}

.form-required {
  text-align: center;
  font-size: 10px;
  color: rgb(189, 189, 189);
}

.mat-icon {
  color: #333;
}

.have-account {
  margin-top: 15px;
  display: flex;
}
.have-account p {
  color: rgb(157, 157, 157);
  margin-right: 5px;
}
.have-account a {
  color: #673ab7;
  font-weight: bold;
  margin-right: 5px;
  text-decoration: none;
}

/*Animations*/
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Media Responsive*/
@media (max-width: 768px) {
  .form-container {
    width: 60%;
  }
}
