<main>
    <mat-card class="form-container">
        <div class="button-container">
            <button [routerLink]="['/home']" class="btn-arrow-back" mat-mini-fab aria-label="btn arrow_back">
              <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <h4 class="form-title">Inicia Sesión</h4>
        <p class="form-required">(*) Campo obligatorio</p>
        <p class="error">{{errorLog}}</p>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
            <button class="btn-submit" type="submit" mat-flat-button color="primary">Iniciar sesión</button>
            <div class="have-account">
                <p>Aún no tienes cuenta?</p><a [routerLink]="['/register']">Regístrate</a>
            </div>
        </form>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </mat-card>
</main>

   
  

