.container {
  margin: 0 auto;
  margin-top: 100px;
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.522);
  overflow-y: scroll;
}
.order-container {
  list-style: none;
  margin-bottom: 10px;
}

p {
  font-weight: bold;
  color: #222;
}
p span {
  font-weight: 400;
  color: #a5a5a5;
}
.no-order {
  text-align: center;
  font-size: 18px;
  font-weight: 400 !important;
}
.order-status {
  text-transform: uppercase;
  font-weight: bold !important;
  color: rgb(81, 179, 72) !important;
}
.order {
  display: flex;
  justify-content: space-between;
}

.price-order {
  font-size: 18px;
  color: #673ab7 !important;
}
