<main>
    <mat-card class="container">
        <p *ngIf="orders.length == 0" class="no-order">Aún no tienes ordenes!</p>
        <div class="">
            <ul class="orders-container">
                <li *ngFor="let order of orders" class="order-container">
                    <mat-card class="order">
                        <div class="order-info">
                            <p class="order-id">ID Orden: <span>{{order.id}}</span></p>
                            <p>Estado: <span class="order-status">{{order.status}}</span></p>        
                            <p>Fecha realización: <span class="order-date">{{order.date}}</span></p>    
                        </div>
                        <div class="order-price">
                            <p class="price-order">{{order.finalPrice | currency}}</p>
                        </div>
                    </mat-card>
                </li>
            </ul>
        </div>
    </mat-card>
</main>
    

