/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #4c307dce 0%, #c6c7e793 100%),
    url("./assets/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  min-height: 90vh;
}
